In [2]:
import numpy as np
import pandas as pd
import time
from datetime import datetime, date
from datetime import timedelta
import matplotlib.pyplot as plt
from scipy import stats
import scipy.stats as stats
import akshare as ak
# import tushare as ts
# ts.set_token('你自己的token')
# pro = ts.pro_api()
# import efinance as ef
# import baostock as bs
import tqdm
import scipy
import statsmodels.stats.weightstats as sw #单样本和双样本的z检验都是用该函数

In [3]:
start_date=(date.today() - timedelta(days=36500)).strftime("%Y%m%d")
end_date=time.strftime("%Y%m%d",time.localtime())
# get_zs_price_day_sh('000001',start_date,end_date)
print(start_date,end_date)

19230802 20230708

In [4]:
# 000922中证红利
index_code="000922"
# 000300沪深300,000001上证指数
bench_code='000300'

In [5]:
ak.index_zh_a_hist(symbol=index_code, period="daily", start_date=start_date, end_date=end_date)

,日期,开盘,收盘,最高,最低,成交量,成交额,振幅,涨跌幅,涨跌额,换手率
0,2008-08-04,2759.80,2687.55,2759.80,2683.91,5972906,5.436500e+09,0.00,0.00,0.00,0.0
1,2008-08-05,2683.84,2582.16,2695.04,2575.85,8046384,7.688379e+09,4.43,-3.92,-105.39,0.0
2,2008-08-06,2597.73,2590.76,2614.61,2550.19,6838590,5.979064e+09,2.49,0.33,8.60,0.0
3,2008-08-07,2589.28,2592.37,2612.05,2562.19,5549979,5.082008e+09,1.92,0.06,1.61,0.0
4,2008-08-08,2591.63,2455.95,2591.63,2450.83,6933512,6.239304e+09,5.43,-5.26,-136.42,0.0
...,...,...,...,...,...,...,...,...,...,...,...
3623,2023-07-03,5082.11,5125.96,5131.46,5082.11,33955605,2.675201e+10,0.97,1.05,53.41,0.0
3624,2023-07-04,5123.30,5100.77,5123.30,5081.75,30996928,2.473805e+10,0.81,-0.49,-25.19,0.0
3625,2023-07-05,5087.90,5086.77,5103.02,5071.23,23445269,1.921658e+10,0.62,-0.27,-14.00,0.0
3626,2023-07-06,5067.57,5054.04,5085.93,5045.33,26943236,2.023000e+10,0.80,-0.64,-32.73,0.0
3627,2023-07-07,5045.62,5072.59,5090.13,5041.19,24877609,1.956441e+10,0.97,0.37,18.55,0.0

In [6]:
index=ak.index_zh_a_hist(symbol=index_code, period="daily", start_date=start_date, end_date=end_date)
bench=ak.index_zh_a_hist(symbol=bench_code, period="daily", start_date=start_date, end_date=end_date)

In [7]:
index['sum_5']=index['涨跌幅'].shift(-4).rolling(window=5).sum()
index['sum_20']=index['涨跌幅'].shift(-19).rolling(window=20).sum()
index['sum_60']=index['涨跌幅'].shift(-59).rolling(window=60).sum()
index['sum_250']=index['涨跌幅'].shift(-249).rolling(window=250).sum()
index

,日期,开盘,收盘,最高,最低,成交量,成交额,振幅,涨跌幅,涨跌额,换手率,sum_5,sum_20,sum_60,sum_250
0,2008-08-04,2759.80,2687.55,2759.80,2683.91,5972906,5.436500e+09,0.00,0.00,0.00,0.0,NaN,NaN,NaN,NaN
1,2008-08-05,2683.84,2582.16,2695.04,2575.85,8046384,7.688379e+09,4.43,-3.92,-105.39,0.0,NaN,NaN,NaN,NaN
2,2008-08-06,2597.73,2590.76,2614.61,2550.19,6838590,5.979064e+09,2.49,0.33,8.60,0.0,NaN,NaN,NaN,NaN
3,2008-08-07,2589.28,2592.37,2612.05,2562.19,5549979,5.082008e+09,1.92,0.06,1.61,0.0,NaN,NaN,NaN,NaN
4,2008-08-08,2591.63,2455.95,2591.63,2450.83,6933512,6.239304e+09,5.43,-5.26,-136.42,0.0,-8.43,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3623,2023-07-03,5082.11,5125.96,5131.46,5082.11,33955605,2.675201e+10,0.97,1.05,53.41,0.0,0.02,NaN,NaN,NaN
3624,2023-07-04,5123.30,5100.77,5123.30,5081.75,30996928,2.473805e+10,0.81,-0.49,-25.19,0.0,NaN,NaN,NaN,NaN
3625,2023-07-05,5087.90,5086.77,5103.02,5071.23,23445269,1.921658e+10,0.62,-0.27,-14.00,0.0,NaN,NaN,NaN,NaN
3626,2023-07-06,5067.57,5054.04,5085.93,5045.33,26943236,2.023000e+10,0.80,-0.64,-32.73,0.0,NaN,NaN,NaN,NaN
3627,2023-07-07,5045.62,5072.59,5090.13,5041.19,24877609,1.956441e+10,0.97,0.37,18.55,0.0,NaN,NaN,NaN,NaN

In [8]:
bench['sum_5']=bench['涨跌幅'].shift(-4).rolling(window=5).sum()
bench['sum_20']=bench['涨跌幅'].shift(-19).rolling(window=20).sum()
bench['sum_60']=bench['涨跌幅'].shift(-59).rolling(window=60).sum()
bench['sum_250']=bench['涨跌幅'].shift(-249).rolling(window=250).sum()
bench

,日期,开盘,收盘,最高,最低,成交量,成交额,振幅,涨跌幅,涨跌额,换手率,sum_5,sum_20,sum_60,sum_250
0,2005-01-04,994.77,982.79,994.77,980.66,7412868,4.431977e+09,0.00,0.00,0.00,0.02,NaN,NaN,NaN,NaN
1,2005-01-05,981.58,992.56,997.32,979.88,7119108,4.529208e+09,1.77,0.99,9.77,0.02,NaN,NaN,NaN,NaN
2,2005-01-06,993.33,983.17,993.79,980.33,6288029,3.921015e+09,1.36,-0.95,-9.39,0.02,NaN,NaN,NaN,NaN
3,2005-01-07,983.05,983.96,995.71,979.81,7298694,4.737469e+09,1.62,0.08,0.79,0.02,NaN,NaN,NaN,NaN
4,2005-01-10,983.76,993.88,993.96,979.79,5791697,3.762933e+09,1.44,1.01,9.92,0.02,0.45,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4492,2023-07-03,3853.29,3892.88,3897.33,3853.29,133158051,2.568765e+11,1.15,1.31,50.43,0.44,-0.41,NaN,NaN,NaN
4493,2023-07-04,3888.03,3899.01,3899.98,3878.40,109494527,2.163356e+11,0.55,0.16,6.13,0.36,NaN,NaN,NaN,NaN
4494,2023-07-05,3895.19,3868.81,3899.52,3864.13,97636384,1.884003e+11,0.91,-0.77,-30.20,0.32,NaN,NaN,NaN,NaN
4495,2023-07-06,3857.03,3842.75,3876.89,3836.46,100121842,1.847424e+11,1.05,-0.67,-26.06,0.33,NaN,NaN,NaN,NaN
4496,2023-07-07,3831.60,3825.70,3844.84,3819.08,100906920,1.739186e+11,0.67,-0.44,-17.05,0.33,NaN,NaN,NaN,NaN

In [9]:
index_merge=pd.merge(index, bench, on='日期')

In [10]:
x='sum_20_x'
y='sum_20_y'

In [11]:
index_updown=index_merge[['日期',x,y]]

In [12]:
index_updown=index_updown.dropna(subset=[x,y])
index_updown

              日期  sum_20_x  sum_20_y
19    2008-08-29      2.25     -2.87
20    2008-09-01     -6.10    -10.38
21    2008-09-02     -4.89     -8.16
22    2008-09-03     -7.02    -10.91
23    2008-09-04     -7.40    -10.54
...          ...       ...       ...
3604  2023-06-02     -1.28      2.30
3605  2023-06-05     -2.34      1.02
3606  2023-06-06     -3.13      0.71
3607  2023-06-07     -2.95      0.98
3608  2023-06-08     -3.32      1.03

[3590 rows x 3 columns]

In [20]:
startdate='2018-01-01'

In [21]:
A = index_updown[index_updown['日期']>=startdate][x].tolist()
B = index_updown[index_updown['日期']>=startdate][y].tolist()

In [23]:
# stats.normaltest
statistic, p_value = scipy.stats.normaltest (A, axis=0)
print('A - 统计量：', statistic)
print('A - P值：', p_value)
if p_value>0.05:
    print('A服从正态分布')
else:
    print('A不服从正态分布')

statistic, p_value = scipy.stats.normaltest (B, axis=0)
print('B - 统计量：', statistic)
print('B - P值：', p_value)
if p_value>0.05:
    print('B服从正态分布')
else:
    print('B不服从正态分布')

A - 统计量： 4.926989927433868
A - P值： 0.08513688009038796
A服从正态分布
B - 统计量： 52.61003914782633
B - P值： 3.765955229231195e-12
B不服从正态分布

In [25]:
z,p=sw.ztest(A,B,value=0,alternative="larger")#{“two-sided”, larger, smaller}
# z,p=sw.ztest(A,value=0,alternative="smaller")#{“two-sided”, larger, smaller}
print("z值={},p值={}".format(z,p))

z值=0.7529684185878516,p值=0.22573444605150605

In [24]:
scipy.stats.wilcoxon( A, B, correction = False, alternative = 'greater' ) #{“two-sided”, “greater”, “less”}

WilcoxonResult(statistic=432821.0, pvalue=0.5702445384385394)